<VirtualHost *:443>
    ServerName {{ rmfakecloud_servername }}

    SSLEngine On

    # If you manage SSL certificates by yourself, these paths will differ.
    SSLCertificateFile {{ rmfakecloud_tls_certs_dir }}/{{ rmfakecloud_tls_cert }}
    SSLCertificateKeyFile {{ rmfakecloud_tls_certs_dir }}/{{ rmfakecloud_tls_cert_key }}

    SSLProxyEngine on
    SSLProxyProtocol +TLSv1.2 +TLSv1.3
    SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH

    ProxyPreserveHost On
    ProxyRequests Off
    ProxyVia On
    RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}

    
    # When Upgrade:websocket header is present, redirect to ws
    RewriteEngine On
    RewriteCond %{HTTP:Upgrade} =websocket [NC]
    RewriteCond %{HTTP:Connection} =upgrade [NC]
    RewriteRule .*  "ws://localhost:{{ rmfakecloud_port }}/$1" [P,L]
    

    
    # Proxy all remaining traffic to rmfakecloud
    AllowEncodedSlashes NoDecode
    {% if rmfakecloud_tls_enabled %}
    ProxyPass / https://localhost:{{ rmfakecloud_port }}/ nocanon
    ProxyPassReverse / https://localhost:{{ rmfakecloud_port }}/
    {% else %}
    ProxyPass / http://localhost:{{ rmfakecloud_port }}/ nocanon
    ProxyPassReverse / http://localhost:{{ rmfakecloud_port }}/
    {% endif %}
    ErrorLog ${APACHE_LOG_DIR}/{{ rmfakecloud_servername }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ rmfakecloud_servername }}-access.log combined
    <IfModule security2_module>
        SecRuleEngine off
    </IfModule>
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ rmfakecloud_servername }}	

    Redirect permanent / "https://{{ rmfakecloud_servername }}"

    ErrorLog ${APACHE_LOG_DIR}/{{ rmfakecloud_servername }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ rmfakecloud_servername }}-access.log combined
    </VirtualHost>
